body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,article{margin:0;padding:0;border:0;}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}

a{text-decoration:none;color:#343a40}
a:hover,a:active,a:focus{color:blue;text-decoration:underline;}
.site-header{
display:flex;
flex-direction:row;
justify-content:space-between
}
#site-header{
margin:0px 0px 50px 0px;
}
.gap{
height:30px;
}
.gaps{
height:15px;
}
.gapm{
height:5px;
}
.tags{
margin-right:5px;
display:inline-block;
float:left；
}