{%extends "base.html" %}
{% block mainbody %}

{% for post in contacts %}
<article class="d-flex flex-column align-content-start ">
  <header class="text-center">
    <h1>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h1><div class="gaps"></div>
    <div>
      <span><a href="#">{{ post.category.name }}</a></span>
      <span><a href="#"><time class="entry-date"
                                                datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
      <span><a href="#">{{ post.author }}</a></span>
      <span><a href="#">{{ post.commentsub}}评论</a></span>
      <span><a href="#">{{ post.views }}阅读</a></span>
    </div>
  </header>
    <div class="gaps"></div>
  <div>
    {{ post.excerpt }}
  </div>
</article>
    <div class="gap"></div>
    {% empty %}
        <div>暂时还没有发布的文章！</div>
    {% endfor %}
<div class="pagination-simple">

 {% if contacts.has_previous %}

 <a href="?page={{contacts.previous_page_number }}">上一页</a>

 {% endif %}

 <span class="current">第{{ contacts.number }}页/共{{ contacts.paginator.num_pages }}页</span>

 {% if contacts.has_next %} <a href="?page={{ contacts.next_page_number }}">下一页</a>

 {% endif %}

 </div>
{% endblock %}
